<section class="container">
  <div class="login-container">
      <h1>Login</h1>
      <div class="controls-container">
        <input type="text" placeholder="Enter Your User Name" class="textbox">
      </div>
      <div class="controls-container">
        <input type="text" placeholder="Enter Your Password" class="textbox">
      </div>
      <div class="controls-container">
        <button id="btnLogin" class="button" (click)="login()" >
          <span>Login</span>
        </button>
      </div>
  </div>
</section>